<div class="container">
<br>
<br>
<div class="container" id="enthusiast"><h1> Welcome, Hike Enthusiast!</h1></div>
<br><h2><small>Tell us about your glorious (or not so glorious) day</small></h2>

<div class="well well-sm" ng-repeat="comment in comments">
	<!-- this will pull in all comments by trailId -->
	{{comment.content}}
</div>


<form ng-submit="createComment()">
  <div class="form-group">
    <!-- <label for="content">Title</label> -->
    <input type="text" placeholder="disclaimer: Hikeathon owns everything typed here" class="form-control" id="content" ng-model="comment.content">
  </div>
  <div class="hidden">
    <input type="text" class="hidden" id="trailId" ng-model="comment.trailId">
    <!-- this input will grab the trailId from the url params/built-in trailId from API -->
  </div>

  <a href="/hikes"><button type="submit" class="btn btn-primary">Submit</button></a>
</form>
</div>