<div class="container">
	<div class="container"><form class="form">
        <div class="form-group">
          <input type="text" class="form-control" ng-model="searchTerm"  placeholder="Where do you want to go?">
          
        </div>
	</form>
	</div>
	<h1><span style="font-size: 50px">Hikes</span></h1>
<div class="container">
	<div class="well-hikes" ng-repeat="hike in hikesTrimmed | filter:searchTerm | limitTo:10" ng-model="hike.name">
		<h1>{{hike.name}} <small>{{hike.duration}} | {{hike.length_miles | number:1}}miles | {{hike.intensity}} </small></h1>
		<div ng-bind-html="hike.description"></div>
		<hr>
	</div>
</div>